<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Recuperação de Senha</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            text-align: center;
        }

        input {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>

<form id="passwordForm">
    <label for="newPassword">Nova senha:</label>
    <input type="password" id="newPassword" required>
    <br>
    
    <label for="confirmPassword">Confirmar nova senha:</label>
    <input type="password" id="confirmPassword" required>
    <br>

    <button type="button" onclick="submitForm()">Enviar</button>
</form>

<script>
    function isStrongPassword(password) {
        var pattern = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()-_=+[ \]{}|;:'",.<>?/])[^\s]{8,}$/;
        return pattern.test(password);
    }

    async function submitForm() {
        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var queryString = window.location.search;
        var applicationAddress = window.location.href.split('reset-password-confirm')[0]
        var params = new URLSearchParams(queryString);
        var token = params.get('token');
        
        if (newPassword === confirmPassword && isStrongPassword(newPassword)) {
            const url = `${applicationAddress}api/reset-password/confirm/`;
            const data = {
                password: newPassword,
                token,
            };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            };

            await fetch(url, options)
                .then(response => {
                    alert("Senha alterada com sucesso!");
                    window.close();
                })
                .catch(error => {
                    alert("Ocorreu algum erro ao tentar alterar sua senha.");
                });
        } else {
            alert("Por favor, verifique as senhas. Certifique-se de que são iguais e atendem aos critérios de senha forte.");
        }
    }
</script>

</body>
</html>
